@model IEnumerable<HackathonTest.Data.TestCaseExecution>

@{
    ViewBag.Title = "RunTestCase";
}

<h2>RunTestCase</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TestCaseStepSequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StepDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestCase.TestCaseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebElement.ElementName)
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TestCaseStepSequence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StepDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestCase.TestCaseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebElement.ElementName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}*@

</table>
